<%- include('partials/header') %>

 


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->


        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"> Sugarcane mulcher <span class="text-muted">It'll blow your mind.</span></h2>
            
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
  </header>
  
  <main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Monthly</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">KES 10,000<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Negotiateable </li>
            <li>Cancel anytime</li>
          </ul>

          <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Quarterly</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">KES 30,000<small class="text-muted fw-light">/Three months</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Negotiateable </li>
            <li>Cancel anytime</li>
          </ul>
          <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Yearly</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">KES 200,000<small class="text-muted fw-light">/year</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Negotiateable </li>
            <li>Cancel anytime</li>
  
          </ul>
          <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
        </div>
      </div>
    </div>
  </div>
            <p class="lead">If you need a reliable and efficient machinery product for a temporary project or task, our company offers convenient rental options. Hiring our machinery is easy and hassle-free, with flexible rental periods and competitive rates.</p>
            <p class="lead">To get started, simply browse our selection of available products and choose the one that best suits your needs. We offer a variety of machinery for different applications, from construction and landscaping to manufacturing and agriculture.</p>
            <p class="lead">Once you've made your selection, we'll work with you to arrange delivery or pick-up of the machinery at your convenience. Our experienced team can also provide training and support to ensure that you're able to use the machinery safely and effectively.</p>
           With our machinery rental services, you can get the equipment you need to complete your project without the upfront cost of purchasing it outright. Contact us today to learn more about our rental options and to get started with your hire.</p></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="/images/land/aldrin-rachman-pradana-k51kZBpbe0E-unsplash.jpg">
          </div>
        </div>
        

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Tractor <span class="text-muted">See for yourself.</span></h2>
            
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>
</header>

<main>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Monthly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">KES 10,000<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Negotiateable </li>
          <li>Cancel anytime</li>
        </ul>

        <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Quarterly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">KES 30,000<small class="text-muted fw-light">/Three months</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Negotiateable </li>
          <li>Cancel anytime</li>
        </ul>
        <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Yearly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">KES 200,000<small class="text-muted fw-light">/year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Negotiateable </li>
          <li>Cancel anytime</li>

        </ul>
        <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
      </div>
    </div>
  </div>
</div>
          
            
            <p class="lead"><p>To rent one of our machinery products, simply get in touch with us and let us know what you're looking for. We'll provide you with a quote based on your rental period and the equipment you need, and we'll work with you to arrange delivery or pick-up at a time that suits you.</p>
            <p>Our team of experts is always available to answer your questions and provide support throughout your rental period. We'll make sure you have everything you need to use the machinery safely and effectively, so you can focus on getting the job done.</p>
            <p>Don't let the cost of purchasing machinery hold you back from taking on new projects or events. Renting with us is a smart and affordable solution that puts high-quality equipment within your reach. Contact us today to learn more about our rental options and to get started with your hire.</p></p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="/images/land/bill-eccles-9r3WhfQhAX8-unsplash.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">John dere.</span></h2>
            
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>
</header>

<main>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Monthly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">KES 10,000<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Negotiateable </li>
          <li>Cancel anytime</li>
        </ul>

        <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Quarterly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">KES 30,000<small class="text-muted fw-light">/Three months</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Negotiateable </li>
          <li>Cancel anytime</li>
        </ul>
        <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">Yearly</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">KES 200,000<small class="text-muted fw-light">/year</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Negotiateable </li>
          <li>Cancel anytime</li>

        </ul>
        <a  type="button" class="w-100 btn btn-lg btn-primary" href="/agreement">Contact us</a>
      </div>
    </div>
  </div>
</div>
          
            <p class="lead"><p>We pride ourselves on providing exceptional customer service and ensuring that our machinery is always in top working order. Our rental process is simple and straightforward, with competitive rates and flexible rental periods.</p>
            <p>Whether you need a crane for a construction job, a forklift for a warehouse, or a generator for an event, we have the equipment you need. Our experienced team will work with you to determine the best machinery product for your project and provide any necessary training and support.</p></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="/images/land/federico-respini-sYffw0LNr7s-unsplash.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <%- include('partials/footer') %>
